---
title: "Publications"
layout: default
excerpt: "RT2 Lab -- Publications."
sitemap: false
permalink: /publications/
---

<h1>Selected Publications</h1>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    {% for publi in site.data.publications %}
    <div class="panel-heading">
        <span>{{ forloop.index }}. </span>

        <!-- authors -->
        {% assign authors = "" | split:"/" %}
        {% for author in publi.author %}
          {% assign fullname = author.given | append: " " | append: author.family %}
          {% assign authors = authors | push: fullname %}
        {% endfor %}
        {{ authors | array_to_sentence_string }},

        <!-- title with link -->
        <a href="{{ publi.id }}">{{ publi.title }}</a>

        <!-- container -->
        <b>{{ publi.container-title }}</b>

        <!-- issued date -->
        ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

        <!-- DOI -->
        {% if publi.DOI %}
        <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
        {% endif %}
    </div>
    {% endfor %}
  </div>
</div>