<div id="footer" class="panel" style="margin-top: auto;">
  <div class="panel-footer" style="background-color: #881c1c; color: white;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p class="text-left">{{ site.title }}</p>
          <img
            class="img-fluid"
            src="{{ site.baseurl }}/images/logo/lab-logo.png"
            style="max-width: 200px"
          />

        </div>

        <div class="col-sm-2">
        </div>

        <div class="col-sm-4 text-center">
          <p>
            A211, Lederle Graduate Research Center, 740 N. Pleasant Street, University of Massachusetts Amherst, MA 01003-9306
          </p>
          <img
          class="img-fluid"
          src="{{ site.baseurl }}/images/logo/umass-white.svg"
          style="max-width: 180px"
        />
        </div>
      </div>

      <div class="row mt-3">
	<p class="text-center">
	  Last updated <span id="last-updated"></span> by <a href="https://github.com/vule20" style="color: cyan;">Vu Le</a>
	</p>
	<script>
	  const updated = new Date();
	  const options = { year: 'numeric', month: 'long' };
	  document.getElementById("last-updated").textContent = updated.toLocaleDateString(undefined, options);
	</script>
      </div>

    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
